---
import homeData from "../data/home.json";

const { footer } = homeData.home;
---

<div class="footer">
  <footer class="footer__container py-5">
    <div class="container">
      <div class="row gy-4">
        <!-- Brand -->
        <div class="col-12 col-md-4">
          <div class="footer__brand mb-3">
            <img
              src={footer.brand.logo.src}
              alt={footer.brand.logo.alt}
              class="img-fluid"
              loading="lazy"
              decoding="async"
            />
          </div>
          <div class="footer__description">
            <p>
              {footer.brand.description}
            </p>
          </div>
        </div>

        <!-- Dynamic Sections -->
        {
          footer.sections.map((section) => (
            <div
              class={`col-12 col-md-${section.title === "Developments" ? "3" : "2"} footer__section`}
            >
              <h3 class="footer__title">{section.title}</h3>
              <ul class="footer__list">
                {section.links.map((link) => (
                  <li>
                    <a href={link.href}>
                      {link.label}
                      {link.value && ": "}
                      {link.value && <span>{link.value}</span>}
                    </a>
                  </li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>

      <!-- Bottom -->
      <div class="row mt-4">
        <div class="col text-left">
          <div class="footer__copyright">
            <p>
              © {footer.copyright.year}
              <span>{footer.copyright.company}</span>. {footer.copyright.text}
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
